<div style="background-color: #CD5C5C; padding: 20px; border-radius: 10px; box-shadow: 5px 5px 10px #888888;">
  <h1 style="color: white; font-size: 30px; font-weight: bold; text-align: center; text-shadow: 2px 2px 4px #000000;">Sports Data Analysis: Problem Statement 6
</h1>
</div>

### 1. Creation of tables using MySQL workbench  

The tables that are required for the database was created using MySQL Workbench and succesfully loaded the data from the csv file to the tables created

In [1]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="HithaChoudhary.21",
    database="sports_data",
    port='3307')
 
mycursor = mydb.cursor()
mycursor.execute("Show tables;")
myresult = mycursor.fetchall()
print("The tables present in the database:")
for x in myresult:
    print(x)

C:\Users\hithachoudhary\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\hithachoudhary\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

The tables present in the database:
('football_data',)
('overallperformance',)
('playerattributes',)
('playerinfo',)
('playermatchinfo',)
('playermatchperformance',)

### 2. Advanced sql features like CTEs-Common Table Expression  

Executing an example usage of CTE for representing top players in the dataset

In [2]:
def create_top_players():
    try:
        conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="HithaChoudhary.21",
            database="sports_data",
            port='3307'
        )

        #Create cursor
        cursor = conn.cursor()
        #Define the CTE query to select top players
        cte_query = """
            WITH TopPlayer AS (
                SELECT
                    ID,
                    Player,
                    Team,
                    Goals,
                    Season,
                    ROW_NUMBER() OVER (ORDER BY Goals DESC) AS PlayerRank
                FROM
                    football_data
            )
            SELECT
               ID,
                Player,
                Team,
                Goals,
                PlayerRank
            FROM
                TopPlayer
            WHERE
                PlayerRank <= 10
        """
        cursor.execute(cte_query)
        top_players = cursor.fetchall()
        print("Top Players:")
        for player in top_players:
            print(player)

    except mysql.connector.Error as error:
        print("Error:", error)

    finally:
        if conn.is_connected():
            cursor.close()
            conn.close()
            print("MySQL connection is closed")

# Call the function to create the CTE for top players
create_top_players()
print('top_players created')

Top Players:
(15347, 'Player C', 'Team C', 50, 1)
(15404, 'Player C', 'Team A', 50, 2)
(15595, 'Player A', 'Team B', 50, 3)
(15787, 'Player C', 'Team B', 50, 4)
(16047, 'Player C', 'Team C', 50, 5)
(16425, 'Player C', 'Team A', 50, 6)
(10406, 'Player B', 'Team B', 50, 7)
(10869, 'Player B', 'Team C', 50, 8)
(10897, 'Player D', 'Team C', 50, 9)
(10944, 'Player B', 'Team A', 50, 10)
MySQL connection is closed
top_players created

### 3. Complex Analytical Queries  

Ensuring that the data stored supports complex analytical queries by executing them

#### 3.1 Average goals per Match  
Calculating the average goals per match

In [3]:
conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="HithaChoudhary.21",
            database="sports_data",
            port='3307')
cursor = conn.cursor()
def average_goals_per_match(cursor):
    query = """
        SELECT Position, AVG(Goals) AS AvgGoalsPerMatch
        FROM football_data
        GROUP BY Position
    """
    cursor.execute(query)
    results = cursor.fetchall()
    return results

avg_goals_by_position = average_goals_per_match(cursor)
for position, avg_goals in avg_goals_by_position:
    print(f"{position}: {avg_goals:.2f} goals per match on average")
    
cursor.close()
conn.close()

Defender: 12.95 goals per match on average
Forward: 12.45 goals per match on average
Goalkeeper: 12.77 goals per match on average
Midfielder: 12.79 goals per match on average

#### 3.2 Average Pass Completion Rate 

Analyzing the average pass completion rate of each player during the latest season

In [8]:
mydb = mysql.connector.connect(
   host="localhost",
            user="root",
            password="HithaChoudhary.21",
            database="sports_data",
            port='3307')
cursor = mydb.cursor()

query = """
SELECT 
    pi.Player,
    AVG(pp.PassCompletionRate) AS AvgPassCompletionRate
FROM 
    PlayerInfo pi
INNER JOIN
    PlayerMatchInfo pm on pi.ID = pm.ID 
INNER JOIN 
    PlayerMatchPerformance pp ON pi.ID = pp.ID
WHERE 
    pm.Season = (SELECT MAX(Season) FROM PlayerMatchInfo) -- Latest season
GROUP BY 
    pi.Player
ORDER BY 
    AvgPassCompletionRate DESC;
"""

cursor.execute(query)
results = cursor.fetchall()
for row in results:
    player_name, avg_pass_completion_rate = row
    print(f"Player: {player_name}, Average Pass Completion Rate: {avg_pass_completion_rate:.2f}")
cursor.close()
mydb.close()

Player: Player D, Average Pass Completion Rate: 77.05
Player: Player A, Average Pass Completion Rate: 76.87
Player: Player B, Average Pass Completion Rate: 76.60
Player: Player C, Average Pass Completion Rate: 76.17

### 4. Data Security and Access Control Mechanisms

In [9]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="HithaChoudhary.21",
    database="sports_data",
    port='3307'
)
cursor = conn.cursor()

#Create a new user
def create_user(username, password):
    query = f"CREATE USER '{username}'@'localhost' IDENTIFIED BY '{password}'"
    cursor.execute(query)
    print(f"User {username} created successfully")

#Grant privileges to the user
def grant_privileges(username, database):
    query = f"GRANT ALL PRIVILEGES ON {database}.* TO '{username}'@'localhost'"
    cursor.execute(query)
    print(f"Privileges granted to {username}")

#Grant specific privileges to the user
def grant_specific_privileges(username, database, privileges):
    query = f"GRANT {privileges} ON {database}.* TO '{username}'@'localhost'"
    cursor.execute(query)
    print(f"{privileges} privileges granted to {username}")
    
#Revoke privileges from the user
def revoke_privileges(username, database):
    query = f"REVOKE ALL PRIVILEGES ON {database}.* FROM '{username}'@'localhost'"
    cursor.execute(query)
    print(f"Privileges revoked from {username}")

#Revoke specific privileges from the user
def revoke_specific_privileges(username, database, privileges):
    query = f"REVOKE {privileges} ON {database}.* FROM '{username}'@'localhost'"
    cursor.execute(query)
    print(f"{privileges} privileges revoked from {username}")
    
#Drop user
def drop_user(username):
    query = f"DROP USER '{username}'@'localhost'"
    cursor.execute(query)
    print(f"User {username} dropped successfully")

#Usage example
create_user('new_user_', '@@@ql')
#Granting only the specified privileges
#Different privileges include SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER, GRANT OPTION, ALL PRIVILEGES:
grant_specific_privileges('new_user_', 'sports_data','UPDATE')

conn.commit()
conn.close()

User new_user_ created successfully
UPDATE privileges granted to new_user_